<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head.ejs %>

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  </head>
  <body>
    <script>
    	var socket = io.connect({transports: ['websocket']});

      var nickname = "<%= nickname %>";
      var roomName = "<%= topicName %>";

      var roomObject = new Object({});
      roomObject.roomName = roomName;

      socket.emit('chooseRoom', roomObject);

    	// listener, whenever the server emits 'updateChat', this updates the chat body
    	socket.on('updateChat', function (data) {
        $('#conversation').append('<p class="talk other">' + data.senderName + " : " + data.message + '</p><br>');
    	});

      socket.on('combo', function (data) {
        $('#conversation').append('<p class="talk combo">' + data.comboNum + '콤보에 성공하였습니다!</p><br>');
    	});

    	// on load of page
    	$(function(){
    		// when the client clicks SEND
    		$('#dataSend').click( function() {
    			var message = $('#data').val();
    			$('#data').val('');
    			// tell server to execute 'sendchat' and send along one parameter
          var dataObject = new Object({});

          dataObject.topicName = "<%=topicName%>";
          dataObject.senderName = "<%=nickname%>";
          dataObject.message = message;

          socket.emit('message', dataObject);

          $('#conversation').append('<p class="talk me">' + message + '</p><br>');
    		});

    		// when the client hits ENTER on their keyboard
    		$('#data').keypress(function(e) {
    			if(e.which == 13) {
    				$(this).blur();
    				$('#dataSend').focus().click();
    			}
    		});
    	});

    </script>
    <div class="container">
      <div id="rooms">
        <h3>채팅방</h3>
      </div>
    </div>
    <div class="chatting">
      <div class="container">
        <h5><%=topicName%></h5>
        <hr/>
        <div class= "window">
          <div class="one-third column value" style= "border-right:1px solid black;"></div>

          <div class="one-thirds column value" id="conversation"></div>
          <div id="chat">
            <input type="button" id="dataSend" value="send" />
            <input type="text" autofocus autocomplete="on" id="data" style="width:200px;margin-top:200px;margin-bottom:50px" />
          </div>
        </div>
      </div>
    </div>
    <% include ./../partial/footer.ejs %>
    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
